{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.max-img {
			max-height: 613px
		}
		.pad {
			padding: 10px;
		}
	</style>

	<div class="example-wrapper container-fluid">

		<div class="row pad">
			<div class="card">
				<div class="row g-0">
					<div class="col-md-6">
						<img src="https://images.unsplash.com/photo-1621341103818-01dada8c6ef8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="..." class="img-fluid"/>
					</div>
					<!-- Text 50% -->
					<div class="col-md-1"></div>
					<div class="col-md-4 align-self-center">
						<div class="card-body">
							<h4 class="card-title">
								<strong>NOUVELLE COLLECTION</strong>
							</h5>
							<p class="card-text">
								Découvrez la collection dans un éventail de textures et de textiles.
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque eligendi necessitatibus dicta repellat iusto nostrum!
							</p>
							<div class="row text-center">
								<div class="col-md-6">
									<a href="{{ path('category_view', {'slug':'homme'}) }}" class="card-text text-black">
										<u><strong>HOMME</strong></u>
									</a>
								</div>
								<div class="col-md-6">
									<a href="{{ path('category_view', {'slug':'femme'}) }}" class="card-text text-black">
										<u><strong>FEMME</strong></u>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row pad">
			<div class="col-6">
				<div class="card md-6 bg-dark text-white">
					<img src="https://img3.seidensticker.fr/20274-thickbox_default/chemise-droite-blanche-interieur-col-contraste.jpg" class="card-img" alt="..."/>
					<div class="card-img-overlay">
						<a href="#"><h3 class="card-title text-white">CHEMISE <i class="fas fa-chevron-right"></i></h3></a>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. In adipisci deleniti culpa facere eos nisi, aspernatur amet tempore architecto itaque.
						</p>
					</div>
				</div>
			</div>

			<div class="col-6">
				<div class="card md-6 bg-dark text-white">
					<img src="https://media.vogue.fr/photos/5c2f434d66249bfa2ef388f2/1:1/w_1600%2Cc_limit/nyfwday1__20180906_2915_jpg_8558.jpg" class="card-img" alt="..."/>
					<div class="card-img-overlay">
						<a href="#"><h3 class="card-title text-white">SACS <i class="fas fa-chevron-right"></i></h3></a>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi excepturi provident voluptatibus nobis vitae fugiat vel natus nulla beatae corrupti!
						</p>
					</div>
				</div>
			</div>

		</div>

		<div class="row pad">
			<div class="col-12">
				<div class="card bg-dark text-black">
					<img src="https://api.ellequebec.com/app/uploads/2021/04/Michael-Kors-1300x400.jpg" class="card-img max-img" alt="..."/>
					<div class="card-img-overlay">
						<div class="col-mb-3">
							<h3 class="card-title">SUPSTORE SPECIAL</h3>
							<p class="card-text">
								This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							</p>
							<p class="card-text">Last updated 3 mins ago</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
