<div class="col-3">
	<div class="card">
		<img src="{{ p.mainPicture }}" class="card-img-top" alt="..."/>
		<div class="card-body">
			<h5 class="card-title">
				<a class=" text-black" href="{{ path('product_view', {'category_slug': p.category.slug,'slug': p.slug}) }}">{{p.name}}</a>
			</h5>
			<p class="card-text">
				{{p.price}}
				€
			</p>
		</div>
	</div>
</div>
